/* Custom Stylesheet */

nav{
  position: fixed;
  z-index: 4;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.navlink{
  width: 33.33%;
}

.navlink a {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}

.linkedinFixed{
  font-size: 4rem;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 4;
}

.linkedinDiv{
  position: absolute;
}

.header{
  text-shadow: 2px 2px black;
}

.introContainer, .projectContainer{
  width: 100%;
}

.introHeader{
  margin-bottom: 0;
}

.icon-block {
  padding: 25px 15px;
}

.image-block{
  padding: 6% 0;
}

p {
  line-height: 2rem;
  font-family: 'Bree Serif', serif;
}

.sidenav-trigger {
  color: #26a69a;
}

.sidenav{
  height: 45%;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.card{
  position: relative;
  border-radius: 10px !important;
  background-color: blanchedalmond;
  height: 200px;
}

.card-content{
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin: 0 auto;
}

.card-reveal{
  z-index: 1 !important;
  background-color: tan !important;
  padding: 24px 24px 5px 24px !important;
  overflow-y: hidden !important;
}

.card-title{
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  text-align: center;
}

.card-image{
  max-width: 60% !important;
}

.card-image img{
  width: 100% !important;
  height: 100%;
}

.projectName{
  margin-top: -20px;
  margin-bottom: -20px;
  text-align: center;
  z-index: 2;
  position: relative;
  display: none;
  text-shadow: 2px 2px white;
}

.projectInfo{
  margin-top: 10%;
  text-align: center;
}

.close{
  margin-top: -2%;
}

.link{
  margin-top: 10%;
  margin-left: 14%;
  font-size: 2.3rem;
}

.github1{
  display: block !important;
  font-size: 2rem;
  margin-top: -27%;
  margin-left: 68%;
}

.link2{
  position: absolute;
  left: 25%;
  bottom: 1%;
  font-size: 3.3rem;
}

.github2{
  display: block !important;
  position: absolute;
  font-size: 2.1rem;
  bottom: 7%;
  left: 68%;
}

.tooltip{
  background:black;
  color:white;
  padding:5px;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 1);
  border-radius:10px;
  opacity:0;
}

#booksAndCranniesCard, #clickyCard, #triviaTroveCard, #friendFinderCard, #trainTimeCard, #triviaGameCard, #hangmanCard{
  margin-top: -130px;
}

#newsHubCard, #nerdBurgerCard, #medsearchCard, #giftasticCard, #rpgCard{
  margin-top: -60px;
}

.contact, .contactLabel{
  text-align: center;
}

.contactDiv{
  text-align: center;
  width: 33.3%;
}

.contactPhone, .contactEmail{
  font-size: 1.3rem;
}

.github3{
  font-size: 3rem;
}

.linkedin{
  font-size: 3rem;
}

.resume{
  margin-top: .3rem;
}

.footer-copyright{
  padding: 0 !important;
  height: 40px !important;
}

.footer-text{
  position: relative;
  left: 2%;
  bottom: 9px;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 900px) and (min-width : 600px) {
  #recipeBookCard{
    width: 50%;
  }
  #recipeBookCard .card{
    height: 230px;
  }
  #booksAndCranniesCard{
    width: 50%;
    margin-left: 50%;
    margin-top: -140px;
  }
  #clickyCard{
    width: 50%;
    margin-left: 0;
    margin-top: -70px;
  }
  #newsHubCard{
    width: 50%;
    margin-left: 50%;
    margin-top: -120px;
  }
  #newsHubCard .card{
    height: 230px;
  }
  #triviaTroveCard{
    width: 50%;
    margin-top: -70px;
  }
  #nerdBurgerCard{
    width: 50%;
    margin-left: 50%;
    margin-top: -120px;
  }
  #friendFinderCard{
    width: 50%;
    margin-left: 0;
    margin-top: -70px;
  }
  #medsearchCard{
    width: 50%;
    margin-left: 50%;
    margin-top: -120px;
  }
  #trainTimeCard{
    width: 50%;
    margin-left: 0;
    margin-top: -70px;
  }
  #giftasticCard{
    width: 50%;
    margin-left: 50%;
    margin-top: -120px;
  }
  #triviaGameCard{
    width: 50%;
    margin-left: 0;
    margin-top: -70px;
  }
  #rpgCard{
    width: 50%;
    margin-left: 50%;
    margin-top: -120px;
  }

  #hangmanCard{
    width: 50%;
    margin-left: 0;
    margin-top: -70px;
  }
}

@media only screen and (max-width :1164px) and (min-width : 900px) {
  #recipeBookCard .card, #newsHubCard .card, #nerdBurgerCard .card, #medsearchCard .card{
    height: 230px;
  }
}

@media only screen and (max-width :1100px) and (min-width : 900px) {
  .github1{
    margin-top: -35%;
  }
}

@media only screen and (max-width : 700px) and (min-width : 600px) {
  .github1{
    margin-top: -35%;
  }
}

@media only screen and (max-width : 800px) and (min-width : 600px) {
    #about1{
      width: 50%;
    }
    #aboutPhoto{
      width: 50%;
      float: right;
    }
    #about2{
      width: 100%;
      margin-top: -5%;
    }
    #icebergPhoto{
      margin-top: -5%;
    }
}

@media only screen and (max-width : 599px) {
  #index-banner .section {
    top: 20%;
  }
  .card{
    margin-bottom: 170px;
  }
  .introHeader{
    padding: 0 20px;
    margin-bottom: -5%;
  }
  .samPhoto{
    padding: 0 20px;
    margin-top: -10%;
    margin-bottom: -10%;
  }
  #recipeBookCard {
    padding: 0 7%;
  }
  #clickyCard {
    margin-top: -130px;
    padding: 0 7%;
  }
  #booksAndCranniesCard, #triviaTroveCard, #friendFinderCard, #trainTimeCard, #triviaGameCard, #hangmanCard, #newsHubCard, #nerdBurgerCard, #medsearchCard, #giftasticCard, #rpgCard{
    margin-top: -160px;
    padding: 0 7%;
  }
  .link2{
    bottom: -1%;
  }
  .github2{
    bottom: 5%;
  }
  .projectInfo{
    margin-top: 5%;
  }
  #coderain{
    margin-top: -25%;
  }
  .footer-copyright{
    min-height: 25px !important;
  }
}

@media only screen and (max-width : 540px) {
  #coderain{
    margin-top: -30%;
  }
}

@media only screen and (max-width : 450px) {
  #coderain{
    margin-top: -40%;
  }
}

@media only screen and (max-width : 360px) {
  .github1{
    margin-top: -32%;
  }
  #coderain{
    margin-top: -50%;
  }
}




footer.page-footer {
  margin: 0;
}
